body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-cabin: Cabin;
  --font-berlin-sans-fb: "Berlin Sans FB";
  --font-brawler: Brawler;
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-37xl: 56px;
  --font-size-46xl: 65px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-11xl: 30px;
  --font-size-41xl: 60px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-lgi: 19px;
  --font-size-8xl: 27px;
  --font-size-13xl: 32px;
  --font-size-9xl-8: 28.8px;
  --font-size-25xl: 44px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-beige-100: #f4f2da;
  --color-beige-200: rgba(244, 242, 218, 0.65);
  --color-white: #fff;
  --color-darkslategray-100: #192f32;
  --color-darkslategray-200: rgba(25, 47, 50, 0.4);
  --color-darkslategray-300: rgba(25, 47, 50, 0.7);
  --color-orange: #ffb615;
  --color-goldenrod: #ffcb58;
  --color-gray-100: #111d1f;
  --color-gray-200: rgba(25, 38, 50, 0.95);
  --color-black: #000;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-xs: 12px;

  /* border radiuses */
  --br-31xl: 50px;
  --br-6xl: 25px;
  --br-lg: 18px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-3xl: 22px;
}
