body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-cabin: Cabin;
  
    /* font sizes */
    --font-size-25xl: 44px;
    --font-size-69xl: 88px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-lavenderblush-100: #fff4f6;
    --color-gray: #1f1f1f;
    --color-red: #d70908;
    --color-black: #000;
  
    /* border radiuses */
    --br-6xl: 25px;
  }
  