body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }

  .back-arrow-icon {
    position: absolute;
    top: 9.6px;
    left: -0.61px;
    width: 30.14px;
    height: 27.4px;
    cursor: pointer;
  }

  .unsaid-the-container {
    position: absolute;
    top: 0;
    left: 53px;
    font-weight: 600;
  }

  .name {
    position: absolute;
    top: 31px;
    left: 32px;
    width: 448px;
    height: 44px;
  }

  .let-me-help {
    position: absolute;
    top: 75px;
    left: 89px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-gray);
  }

  .interface,
.typing-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1051px;
  height: 672px;
}

.typing-child {
    border-radius: 23px;
    background-color: #fcbdc1;
    width: 1049px;
    height: 56px;
    cursor: pointer;
  }

  .lorem-ipsum-arpuk {
    position: absolute;
    top: 17px;
    left: 74px;
    font-weight: 600;
  }
  .icons8-paper-plane-100-1 {
    position: absolute;
    top: 16px;
    left: 1001px;
    width: 28px;
    height: 28px;
    object-fit: cover;
  }
  .typing-item {
    position: absolute;
    top: 10px;
    left: 13px;
    border-radius: var(--br-6xl);
    background-color: var(--color-lavenderblush-100);
    backdrop-filter: blur(4px);
    width: 35px;
    height: 35px;
  }
  .plus-icon,
.typing {
  position: absolute;
  top: 13px;
  left: 17px;
  width: 28px;
  height: 28px;
}
.typing {
    top: 615px;
    left: 1px;
    width: 1049px;
    height: 56px;
    font-size: 18px;
    color: #dd2c2c;
  }